<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Table</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/my.css}">
</head>
<body>
  <div class="profile">
    <input type="number" id="inputKod" placeholder="Введите код">
    <button id="search-btn">Поиск</button>
    <div class="table-container" id="table-container"></div>
    <script th:src="@{/js/my-table.js}"></script>
  </div>
</body>
</html>